<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <script>
      const delUsers = () => {
        console.log("hihi")
        fetch('/api/user/delete', {
          method: 'DELETE'
        })
          .then((res) => res.json())
          .then((res) => console.log(res))
      }
    </script>
  </head>

  <body>
    <button onclick="delUsers()">Del All Users</button>
    <button onclick="">Del Product</button>
  </body>
</html>
