<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produkt</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/product_detail.css') }}" />
    <script src="{{ url_for('static', filename = 'components/nav.js') }}" type="text/javascript" defer></script>
  </head>

  <body>
    <nav-component></nav-component>
    <img src="{{ img_url }}" alt="{{ img }}" class="center-img" onclick="window.open(this.src)" />
    <p>ID:{{ id }}</p>
    <p>{{ description }}</p>
    <p>PRICE:{{ price }}</p>
    <p>QUANTITY:{{ quantity }}</p>
    <p>DATE:{{ date }}</p>
  </body>
</html>
