<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sklep internetowy</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}" />
    <script src="{{ url_for('static', filename = 'pages/search.js') }}" type="text/javascript" defer></script>
  </head>

  <body>
    <p>Hello</p>
    <input type="text" id="in" oninput="search(this.value)" />
    <div id="t">oeibowefb fenfnoiwefnowefn feefbooew oewfi fenfnoiwefnowefn feefbooew oewfionodiji pqv qo oqwviowvqw qf uq fiqwf

      fenfnoiwefnowefn feefbooew oewfionodiji pqv qo oqwviowvqw qf uq fiqwf

      fenfnoiwefnowefn feefbooew oewfionodiji pqv qo oqwviowvqw qf uq fiqwf

      fenfnoiwefnowefn feefbooew oewfionodiji pqv qo oqwviowvqw qf uq fiqwf onodiji pqv qo oqwviowvqw qf uq fiqwf</div>
  </body>
</html>
