<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create product</title>
  </head>

  <body>
    <form action="/api/product/create" method="POST" id="product">
      <input type="text" name="img" placeholder="img" id="img" />
      <input type="text" name="price" placeholder="price" id="price" />
      <input type="text" name="description" placeholder="description" id="description" />
      <input type="text" name="quantity" placeholder="quantity" id="quantity" />
      <input type="submit" value="wyślij" />
    </form>
  </body>
</html>
