<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}" />
    <script src="{{ url_for('static', filename = 'components/nav.js') }}" type="text/javascript" defer></script>
    <script src="{{ url_for('static', filename = 'pages/superproduct.js') }}" type="text/javascript" defer></script>
  </head>
  <body>
    <nav-component></nav-component>
    <p>JESTEŚ W TRYBIE ADMINA</p>
    <input type="text" id="in" oninput="search(this.value)" placeholder="search" />
    <div id="search"></div>

    <table>
      <tr>
        <th>id</th>
        <th>img</th>
        <th>price</th>
        <th>discount</th>
        <th>quantity</th>
        <th>description</th>
        <th>date</th>
      </tr>
    </table>
  </body>
</html>
